body{
    background: linear-gradient(to right,#7E0F4B, #1A5865);
    font-family:'Source Sans Pro',sans-serif;
    color:white;

}

.navbar{
    height:60px;
    width:100%;
    font-size:20px;
}
.imageRonde{

    height: 80px;
    width:80px;
    border-radius:50%;
}
footer{
    background-color:black;
    color:white;
    width:100%;
    bottom:0;
    padding-top: 50px;
    height:auto;
    border-top:2px solid white;
    padding-bottom:15px;
}
p{
    font-size:20px;
}
.ensemble_footer{
    padding-left:20px;

}
h1{
    color:white;
    text-align:center;
    margin-top: 15px !important;
}
.imgbas{
    display:flex;
    justify-content: flex-start;
    flex-direction: row;

}

.imgbas a{
    margin-right:20px;
}
form{
    width:60%;
    margin-right:auto;
    margin-left:auto;
    color:white;
}

select.form-control{
    margin-right:7px ;
}
#manga_save, #login_submit{
    background-color:#717D7E  ;
    border:none;
    height:50px;
    width:100%;
    transition:all 0.5s ease-in-out;
}
#manga_save:hover, #login_submit:hover{

    background-color:#52BE80;

}

.rowManga{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin:20px 0;
}

form#form_login{
    margin-top:5%;
    margin-bottom:5%;
}
form{
    width:20%;
    flex-flow: wrap;

}

.cardb{
    background:#1A5865;
    color:white;

}
div.card{
    border:none;
}
div.card:hover{
    box-shadow: 0 0 11px rgba(255,255,255,.5);
}
a.btnclick{
    background-color:#343a40;
    box-shadow: 0 0 11px rgba(0,0,0,.1);
    transition:all 0.5s ease-in-out;
    width:100%;
    border:none;

}

a.btnclick:hover{
    background-color: #52BE80;

}
.englobletout{
    display:flex;
    margin-left: 200px;
    margin-top: 70px;
    width:auto;
    padding:5px;
    margin-right:20px;
}


.imageManga{
    height:auto;
    width:40%;

}

.descriptionManga{
    color:white;
    width:50%;
    border-left:solid 4px white;
    padding-left: 100px;
    border-radius:20px;
    font-size:22px;

}
.btstatus{
    border:solid 2px white;
    height:50px;
    width:230px;
    text-align:center;
    padding-top:5px;
}

.btstatus.btnencours{
    background-color:#F39C12;
}
.btstatus.btnterminer{
    background-color:#28B463;
}

.card .iconInfo{

    position: absolute;
    width:100%;
    padding:10px 6px;
    top:0px;
    left:0px;
}

.card .iconInfoEnCours{
    background-color:#FFD02D;

}

.card .iconInfoTermine{
    background-color: #28B463;
    color:#fff;
}


.inputAdminManga{

    display: flex;
    justify-content: space-between;
}