{% if is_granted('ROLE_ADMIN') %}
    {% set base = 'administrateur/baseAdministrateur.html.twig' %}
{% else %}
    {% set base = 'utilisateur/baseUser.html.twig' %}
{% endif %}

    {% extends base %}

{% block title %}Manga supprimé{% endblock %}

{% block body %}
    <h1 class="titremanga">Le tome {{ manga.numTome }} de {{ manga.serie.nom }} à été supprimé.</h1>
    <br>
    <p style="text-align: center;">Vous pouvez retourner à l'<a href="{{ path('list_mangas') }}">accueil</a> du site.</p>
    <br>
    <br>
{% endblock %}