{% extends 'administrateur/baseAdministrateur.html.twig' %}

{% block title %}Liste les mangas{% endblock %}

{% block h1 %}
    <h1 class="titremanga">Liste des mangas</h1>
    <br><br>
{% endblock %}


{% block body %}
    <div class="rowManga">
        {% for manga in mangaCollection %}
            <div class="card" style="width: 18rem;">
                <img src="../../public/uploads/{{ manga.image }}" class="card-img-top" alt="...">
                <div class="card-body cardb">
                    <h5 class="card-title">{{manga.serie.nom }}</h5>
                    <p class="card-text">{{ manga.descManga|striptags|slice(0,90) }}...</p>
                    <a href="#" class="btn btn-primary btnclick">Y allez ...<i class="fas fa-reply"></i></a>
                </div>
            </div>
    {% endfor %}
    </div>







{% endblock %}