{% if is_granted('ROLE_ADMIN') %}
    {% set base = 'administrateur/baseAdministrateur.html.twig' %}
{% else %}
    {% set base = 'utilisateur/baseUser.html.twig' %}
{% endif %}

{% extends base %}

{% block body %}
    <br><br>
    <h1 style="text-align: center;">Erreur {{ status_code }}</h1>
    <br><br>
    <p style="text-align: center;">{{ status_text|trans }}</p>
    <br><br>
    <p style="text-align: center;">Vous pouvez retourner à l'<a href="{{ path('list_mangas') }}">accueil</a> du site.</p>
    <br><br>
{% endblock %}